<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1001136847098-5i134eg6habh8ko2pv3nh9503m640prp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1001136847098-5i134eg6habh8ko2pv3nh9503m640prp</string>
	<key>API_KEY</key>
	<string>AIzaSyCLt3Sj0W3-WUbFdqYyJOSzLOTD6bDGp5Y</string>
	<key>GCM_SENDER_ID</key>
	<string>1001136847098</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ggamecast.kookoff</string>
	<key>PROJECT_ID</key>
	<string>dev-kookoff</string>
	<key>STORAGE_BUCKET</key>
	<string>dev-kookoff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1001136847098:ios:32c537fde1e0ccb3ddb143</string>
</dict>
</plist>